body{
    width:100vw;
    height:100vh
}
#container{
display:grid;
    background-color: gray;
    width:600px;
    height:600px;
    flex-wrap: wrap;
    margin:100px auto;
    overflow: hidden;
}

